* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*    .getborder {
  border: 2px solid white; 
}  
 */

@media only screen and (max-width: 810px) {
    #navigation-button {
        width: 50px;
        height: 50px;
    }
    #navigation-button:hover,#navigation-button:active {
        width: 50px;
        height: 50px;
        transition: none;
    }
}
/* ############################################################# */

body {
    background-image: url(/BACKGROUNDS/singapore.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    height: 100svh;
}


header {
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    padding-top: 30px;
}
#contact-h2 {
    color: #333;
    font-family: 'Alfa Slab One', serif;
    font-size: 40px;
    font-weight: 800;

}


#navigation-button {
    background-color: #333;
    color: #E8630A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content:center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
}
#navigation-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/********************************************************** About me CONTAINER 1 */
#aboutMe-container1 {
    width: 100%;
    display: flex;
    justify-content: flex-end;

}

#aboutMe h2 {
    color: #333;
font-family: 'Alfa Slab One', serif;
    font-size: 40px;
/*     width: 360px; */
text-align: center;
  font-weight: 800;
  margin-left: 30px;

}

#aboutMe h2 span {
    color: #333;
    font-family: 'Alfa Slab One', serif;

}

#portrait-me {
    width: 300px;
    height: 300px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
/*   box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px; */

    clip-path: polygon(20% 0, 100% 0, 100% 35%, 100% 74%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);


}

#portrait-me img {
    display: block;
    height: auto;
    width: 70%;
}

/********************************************************* About me CONTAINER 2 **/
#aboutMe-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#aboutMe-article {
    width: 50%;
    padding:30px;
    background-color: #333;
    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);

    margin-top: -200px;
}
#aboutMe-article p {
    font-size: 20px;
   color: white;
   font-weight: 400;
   text-align: left;
}

#skills-bar {
    background-color: #333;
    width: 750px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  clip-path: polygon(5% 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 5% 100%, 0% 80%, 0% 20%);
  margin-bottom: -400px;
}

.skills {
    color: #E8630A;
    height: 100%;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills h4 {
    font-weight: 200;
    font-size: 20px;
}
.skills svg {
    color: #E8630A;
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px auto;
}


/************************************************* About me CONTAINER 3 **/
#aboutMe-container3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* #skills-headline {
    width: 360px;
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    text-align: left;
    font-size: 60px;
    color: #E8630A;
    margin-left: 100px;
}

#skills-headline span {
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    color: white;
} */










/************************************************* About me CONTAINER 4 **/
#aboutMe-container4 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}


#aboutMe-container4-CIRCLE-WRAP {
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.65));
    width: 400px;
    height: 400px;
    display: block;
    margin-right: 100px;

}

#aboutMe-container4-RECT {
    background-image: url(BACKGROUNDS/IMG_2280.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

#seeMy-bttns {
    width: 600px;
    height: 300px;
    background-color:#E8630A;
    display: flex;
    align-items: center;
    justify-content: space-around;




    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);

}


#aboutMe-container4 button {
    background-color: #FCD900;
    cursor: pointer;
    color:#001E6C;
    font-family: 'Kanit', sans-serif;;
    font-size: 25px;
    font-weight: 700;
    width: 200px;
    height: 200px;
    border: none;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);


}
/* #SeeMyPortfolio {
    margin-right: 100px;
}
 */


 .socials {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #E8630A;
    height: 40px;
    width: 40px;
}

.socials a svg {
    width: 80%;
    height: 80%;
}
.socials a svg:hover,#socials a svg:active {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}



/* ################## ABOUT ME  #####################*/



/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */


/*QUERIES*************** about container 1 ************/
/*QUERIES*************** about container 1 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container1 {
        flex-direction: column;
        padding-top: 80px;
    }
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 730px) {
    #aboutMe h2 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    #portrait-me {
        width: 350px;
        height: 350px;
    }
}

/*QUERIES*************** about container 2 ************/
/*QUERIES*************** about container 2 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

/*QUERIES*************** about container 3 ************/
/*QUERIES*************** about container 3 ************/
@media only screen and (max-width: 1215px) {
    #skills-headline {
        margin-left: 10px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 1040px) {
    #aboutMe-container3 {
        flex-direction: column;
        align-items: flex-end;
    }
    #skills-headline {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    #skills-headline span {
        font-family: 'Alfa Slab One', serif;
        font-weight: 200;
        color: white;
    }
}
@media only screen and (max-width: 840px) {
    #aboutMe-container3 {
        align-items: center;
    }
    #skills-bar {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        clip-path: none;
        background-color: transparent;

    }
    
    .skills {
        width: 300px;
        height: 300px;
        background-color: #E8630A;
        margin-top: 20px;
        margin-bottom: 20px;
        clip-path: polygon(15% 1%, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);



    }
    
}
@media only screen and (max-width: 730px) {
    #skills-bar {
        width: 80%;
        clip-path: polygon(10% 0, 90% 0, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0 95%, 0 5%);

    }
    #skills-headline {
        font-size: 40px;
        padding-bottom: 30px;
    }
   
}


