* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*   .getborder {
  border: 2px solid white; 
}  
 */
@media only screen and (max-width: 810px) {
    #navigation-button {
        width: 50px;
        height: 50px;
    }
    #navigation-button:hover,#navigation-button:active {
        width: 50px;
        height: 50px;
        transition: none;
    }
}
/* ############################################################# */

body {
    background-image: url(/BACKGROUNDS/singapore.jpg);
/*     background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 100vh;
    height: 100svh;
}


header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-left: 30px;
    padding-top: 30px;
}
#contact-h2 {
    color: #333;
    font-family: 'Alfa Slab One', serif;
    font-size: 40px;
    font-weight: 800;

}
#navDesktop {
    padding-left: 20px;
    padding-right: 20px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
/*     position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: 35px; */

}
#navDesktop ul {
    width: 350px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    border-radius: 50px;
}

#navDesktop ul li {
    list-style-type: none;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navDesktop ul li a {
   color: #FAB180;
    text-decoration: none;
    font-weight: 700;
    font-size: 22px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navDesktop ul li a:hover {
    font-size: 25px;
    transition: all 0.5s;
}

#navigation-button {
    background-color: #333;
    color: #E8630A;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: none;
    align-items: center;
    justify-content:center;
    width: 50px;
    height: 50px;
    border: none;
    cursor: pointer;
    border-radius: 50%;
    margin-left: 20px;
}
#navigation-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}


/********************************************************** About me CONTAINER 1 */
#aboutMe-container1 {
    width: 100%;
    display: flex;
    justify-content: space-between;
    height: 450px;

}


#portrait-me {
    width: 450px;
    height: 450px;
    overflow: hidden;
  /*   background-color: #333; */

    display: flex;
    align-items: center;
    justify-content: center;
 /*    border-radius: 50%; */
/*   box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px; */

/*     clip-path: polygon(20% 0, 100% 0, 100% 35%, 100% 74%, 100% 100%, 20% 100%, 0% 80%, 0% 20%);
 */

}

#portrait-me img {
    display: block;
    height: auto;
    width: 70%;
}
#aboutMeBtns {
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#resumeLink,#portfolioLink {
    width: 140px;
    height: 40px;
    background-color: white;
    color: #E8630A;
    border: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50px;

}




/********************************************************* About me CONTAINER 2 **/
#aboutMe-container2 {
    display: flex;
    align-items: center;
    justify-content: center;
  /*   background-color: #333; */
    background-color: rgba(51,51,51,1);
    clip-path: polygon(
        40px 0,
        calc(100% - 40px) 0,
        100% 40px,
        100% 100%,
        100% 100%,
        0 100%,
        0 100%,
        0 40px
      );


}
#aboutMe-article {
    width: 50%;
    padding:30px;
    height: 300px;
/*   background-color: #333; */
    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);

}
#aboutMe-article p {
    font-size: 20px;
   color: white;
   font-weight: 400;
   text-align: left;
}

#skills-bar {
/*     background-color: rgba(51,51,51,0.8); */
    width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  padding-top: 30px;
  padding-bottom: 30px;

}
.skills-con {
    width: 300px;
    height: 300px;
   /*  filter: drop-shadow(0px 0px 4px #E8630A); */
   filter: drop-shadow(0px 0px 18px #171717);
}
.skills {
    color: #E8630A;
    height: 100%;
    width: 100%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #333;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);

}

.skills h4 {
    font-weight: 200;
    font-size: 20px;
}
.skills svg {
    color: #E8630A;
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px auto;
}


/************************************************* About me CONTAINER 3 **/
#aboutMe-container3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 700px;
    background-color: rgba(51,51,51,1);
}

/* #skills-headline {
    width: 360px;
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    text-align: left;
    font-size: 60px;
    color: #E8630A;
    margin-left: 100px;
}

#skills-headline span {
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    color: white;
} */










/* ################## ABOUT ME  #####################*/



/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */


/*QUERIES*************** about container 1 ************/
/*QUERIES*************** about container 1 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container1 {
        flex-direction: column;
        padding-top: 80px;
    }
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 730px) {
    #aboutMe h2 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    #portrait-me {
        width: 350px;
        height: 350px;
    }
}

/*QUERIES*************** about container 2 ************/
/*QUERIES*************** about container 2 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

/*QUERIES*************** about container 3 ************/
/*QUERIES*************** about container 3 ************/
@media only screen and (max-width: 1215px) {
    #skills-headline {
        margin-left: 10px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 1040px) {
    #aboutMe-container3 {
        flex-direction: column;
        align-items: flex-end;
    }
    #skills-headline {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    #skills-headline span {
        font-family: 'Alfa Slab One', serif;
        font-weight: 200;
        color: white;
    }
}
@media only screen and (max-width: 840px) {
    #aboutMe-container3 {
        align-items: center;
    }
    #skills-bar {
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: flex-start;
        clip-path: none;
        background-color: transparent;

    }
    
    .skills {
        width: 300px;
        height: 300px;
        background-color: #E8630A;
        margin-top: 20px;
        margin-bottom: 20px;
        clip-path: polygon(15% 1%, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);



    }
    
}
@media only screen and (max-width: 730px) {
    #skills-bar {
        width: 80%;
        clip-path: polygon(10% 0, 90% 0, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0 95%, 0 5%);

    }
    #skills-headline {
        font-size: 40px;
        padding-bottom: 30px;
    }
   
}


