* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*     .getborder {
  border: 2px solid white; 
}  
 */

#mobileNavBtn {
    display: none;
}


/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
#language-options {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    clip-path: none;

}

#language-options a {
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #E8630A;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    height: 60px;
    width: 60px;
    /* background-color:#001E6C; */
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);

 
}
#language-options a:nth-child(1),#language-options a:nth-child(2) {
    display: none;
}
#language-options a:nth-child(1):hover,
#language-options a:nth-child(1):active,
#language-options a:nth-child(2):hover,
#language-options a:nth-child(2):active {
    font-size: 25px;
    transition: all 0.3s;
}
#language-options a:nth-child(3) {
    font-size: 25px;
}




/* LANGUAGE OPTIONS ONLY FOR LESS THAN 500PX */
#index-mobile-language-options {
    width: 120px;
    height: 40px;
    display: none;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 30px;
    clip-path: none;
}
#index-mobile-language-options a {
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    height: 40px;
    width: 40px;
}
#index-mobile-language-options a:nth-child(3) {
    font-size: 25px;
    background-color: transparent;
    color: white;
}

/* ########################### END LANGUAGE WEBSITE ############ */





main {
background-image: url(../BACKGROUNDS/singapore.jpg);
/*  background-attachment: fixed; */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
width: 100%;
height: 100vh;
height: 100svh;
/* FIX SAFARI VH ON MOBILE DEVICES - SVH */

}

#portrait-me {
    width: 80px;
    height: 80px;
    overflow: hidden;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: center;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    position: absolute;
    bottom: 380px;
    left: 50%;
    transform: translateX(-50%);
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);


}

#portrait-me img {
    display: block;
    height: auto;
    width: 70%;
}



#introduction {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
   
   
}

#hey {
    position: absolute;
    bottom: 330px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
}

#Iam {
    font-size: 25px;
    font-weight: 100;
    color: white;
    padding-left: 5px;
}

h1 {
   font-weight: 800;
    font-size: 100px;
    line-height: 0.6;
    z-index: 3;
   color: white;

  
}

#software-developer {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
#intro-message {
   position: absolute;
   left: 50%;
   bottom: 40px;
   transform: translateX(-50%);
  }
  #intro-message p {
    background-color: transparent;
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    font-weight: 400;
  }





#navDesktop {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: 50%;
    bottom: 120px;
    transform: translateX(-50%);

}
#navDesktop ul {
    width: 600px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: #333;
    border-radius: 50px;
    box-shadow: 0px 0px 26px -5px rgba(232,99,10,1);
}

#navDesktop ul li {
    list-style-type: none;
    width: 30%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}
#navDesktop ul li a {
    color: #E8630A;
    text-decoration: none;
    font-weight: 700;
    font-size: 20px;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#navDesktop ul li a:hover {
    font-size: 25px;
    transition: all 0.5s;
}