* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}




/* 
   .getborder {
  border: 2px solid white; 
} 
 */

/* ################## NAV STRUCTURE ############ */
/* ################## NAV STRUCTURE ############ */
/* ################## NAV STRUCTURE ############ */
/* ################## NAV STRUCTURE ############ */
/* ################## NAV STRUCTURE ############ */
#mobileNav {
    width: 100%;
    height: 100vh;
    height: 100svh;
    background-color: #333;
    display: none;
    align-items: center;
    justify-content: center;
    position: absolute;
    position: fixed;
    z-index: 100;
}

#navigation-close-button  {
    display: block;
    position: absolute;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    color:#E8630A;
    border: none;
    background-color: #333;
    cursor: pointer;
    border-radius: 50%;
}
#navigation-close-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}



#mobileNav nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    height: 400px;
   
}

#mobileNav nav a {
    display: flex;
    text-decoration: none;
    text-align: center;
    font-size: 35px;
    color:#E8630A;
}




/* ########################### NAV LANGUAGE WEBSITE ############ */

/*
#nav-language-options {
    width: 120px;
    height: 40px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 30px;
    clip-path: none;

}

#nav-language-options a {
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #333;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    height: 40px;
    width: 40px;
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);
}


#nav-language-options a:nth-child(1):hover,
#nav-language-options a:nth-child(1):active,
#nav-language-options a:nth-child(2):hover,
#nav-language-options a:nth-child(2):active {
    font-size: 25px;
    transition: all 0.3s;
}
#nav-language-options a:nth-child(3) {
    font-size: 25px;
    background-color:#333;
    color:#E8630A;
}

 */






/*********************FOOTER **/
/*********************FOOTER **/
/*********************FOOTER **/
/*********************FOOTER **/
/*********************FOOTER **/
/*********************FOOTER **/

footer {
    width: 100%;
    height: 300px;
    border-top: 1px solid #555;
    background-color: #333;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color: #E8630A;
}
footer a {
    text-decoration: none;
    color: #E8630A;
    display: block;
}
#footerLogo figure {
    width: 100px;
    height: 100px;
    margin-bottom: 10px;
}
#footerLogo figure img {
    width: 100%;
    height: auto;
}
#footerLogo p {
    color: #999;
    font-size: 12px;
    margin-top: 10px;
}
#footerLogo p span {
    font-family: Arial, Helvetica, sans-serif;
}
#footerLogo a:hover,#footerLogo a:active {
    color: #F89D60;
    transition: all 0.5s;
}
#footerNav a {
    margin-bottom: 10px;
    font-size: 20px;

}
#footerNav a:hover,#footerNav a:active {
    color: #F89D60;
    transition: all 0.5s;
}
.socials {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: #E8630A;
    height: 40px;
    width: 40px;
}

.socials a svg {
    width: 80%;
    height: 80%;
}
.socials a svg:hover,#socials a svg:active {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}
#mobileCopyright {
    display: none;
}
@media only screen and (max-width: 600px) {
    #footerLogo p {
        display: none;
    }
    footer {
        flex-wrap: wrap;
    }
    #footerLogo {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    #footerLogo figure {
        width: 60px;
        height: 60px;
    }
    #footerLogo a {
        font-size: 12px;
        padding-bottom: 7px;
    }
    #footerNav {
        width: 40%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        flex-direction: column;
    }
    #footerNav a {
        font-size: 15px;
    }
    #footerContact {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    #mobileCopyright {
        display: block;
        color: #999;
        font-size: 10px;
    }
    #mobileCopyright span {
        font-family: Arial, Helvetica, sans-serif;
    }
}
