* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*  .getborder {
  border: 2px solid white; 
}   */


#navigation-button {
    background-color:#001E6C;
    color:#E8630A;

    display: flex;
    align-items: center;
    justify-content:center ;
    position: absolute;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
}

#navigation-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#navigation-button:hover,#navigation-button:active {
    width: 90px;
    height: 90px;
    transition: all 0.5s ease-out allow-discrete;
}
@media only screen and (max-width: 810px) {
    #navigation-button:hover,#navigation-button:active {
        width: 60px;
        height: 60px;
        transition: none;
    }
}




#logo-button {
    display: block;
    position: absolute;
    position: fixed;
    top: 20px;
    left: 20px;
    width: 60px;
    height: 60px;
    border: none;
    background-color: transparent;
    cursor: pointer;
}
#logo-button img {
    width: 100%;
    height: 100%;
    cursor: pointer;
}



/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
/* ########################### LANGUAGE WEBSITE ############ */
#language-options {
    width: 180px;
    height: 60px;
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 20px;
    background-color: transparent;
    clip-path: none;

}

#language-options a {
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    height: 60px;
    width: 60px;
    /* background-color:#001E6C; */
    clip-path: polygon(20% 0, 80% 0, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0 80%, 0 20%);

 
}
#language-options a:nth-child(1),#language-options a:nth-child(2) {
    display: none;
}
#language-options a:nth-child(1):hover,
#language-options a:nth-child(1):active,
#language-options a:nth-child(2):hover,
#language-options a:nth-child(2):active {
    font-size: 25px;
    transition: all 0.3s;
}
#language-options a:nth-child(3) {
    font-size: 25px;
}




/* LANGUAGE OPTIONS ONLY FOR LESS THAN 500PX */
#index-mobile-language-options {
    width: 120px;
    height: 40px;
    display: none;
    justify-content: flex-end;
    position: absolute;
    right: 20px;
    bottom: 30px;
    clip-path: none;
}
#index-mobile-language-options a {
    letter-spacing: 1.2px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:white;
    font-size: 15px;
    font-family: 'Kanit', sans-serif;
    font-weight: 700;
    height: 40px;
    width: 40px;
}
#index-mobile-language-options a:nth-child(3) {
    font-size: 25px;
    background-color: transparent;
    color: white;
}

/* ########################### END LANGUAGE WEBSITE ############ */


.socials {
    width: 150px;
    height: 60px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: absolute;
    left: 20px;
    bottom: 20px;
}

.socials a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white;
    height: 40px;
    width: 40px;
}

.socials a svg {
    width: 80%;
    height: 80%;
}
.socials a svg:hover,#socials a svg:active {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}











main {
background-image: url(BACKGROUNDS/singapore.jpg);
 background-attachment: fixed;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
width: 100%;
height: 100vh;
height: 100svh;
/* FIX SAFARI VH ON MOBILE DEVICES - SVH */

}





#introduction {
    width: 100%;
    display: block;
    position: absolute;
    bottom: 200px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
   
   
}

#hey {
    position: absolute;
    bottom: 330px;
    left: 50%;
    transform: translateX(-50%);
    height: 60px;
    font-size: 22px;
    font-weight: 400;
    color: white;
    background-color: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 240px;
}

#Iam {
    font-size: 25px;
    font-weight: 100;
    color: white;
    padding-left: 5px;
}

h1 {
   font-weight: 800;
    font-size: 100px;
    line-height: 0.6;
    z-index: 3;
    color: white;
   /*  opacity: 0.8; */
/*     text-shadow: 2px 3px 5px rgba(255,255,255,0.5); */

  
}
#software-developer {
    font-size: 50px;
    font-weight: 100;
    font-family: 'Kanit', sans-serif;
    color: white;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
}
#intro-message {
   position: absolute;
   left: 50%;
   bottom: 40px;
   transform: translateX(-50%);
  }
  #intro-message p {
    background-color: transparent;
    color: white;
    opacity: 0.7;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 22px;
    text-shadow: 2px 3px 5px rgba(0,0,0,0.5);
    font-weight: 400;
  }









footer {
    width: 100%;
    height: 400px;
    background-color: rgba(238, 237, 237, 0.8);
}






@media only screen and (max-width: 810px) {
    #hey {
        bottom: 280px;
    }

    h1 {
        font-weight: 800;
         font-size: 60px;
     }
     #software-developer {
         font-size: 30px;
     }
    #intro-message {
       bottom: 140px;
        width: 100%;
       }
       #intro-message p {
        font-size: 15px;
       }
}

@media only screen and (max-width: 500px) {
    #hey {
        bottom: 260px;
        font-size: 15px;
    }
    #Iam {
        font-size: 15px;
    }
    h1 {
        font-weight: 800;
         font-size: 45px;
     }
     #software-developer {
        font-size: 25px;
    }
    #language-options {
        display: none;
    }
    #index-mobile-language-options {
        display: flex;
    }
}

/* NAVIGATION BUTTTON FOR INDEX.HTML ONLY*/
@media only screen and (max-width: 810px) {
    #navigation-button:hover,#navigation-button:active {
    background-color: rgba(0,30,108,0.6);
    }
}
