* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*  .getborder {
  border: 2px solid white; 
}   */

main {
    background-color: #001E6C;
}

/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/
/* ################## ABOUT ME  #####################*/


#aboutMe {
    width: 100%;
}

/********************************************************** About me CONTAINER 1 */
#aboutMe-container1 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding-top: 30px;
    padding-bottom: 30px;

}

#aboutMe h2 {
    color: #E8630A;
font-family: 'Alfa Slab One', serif;
    font-size: 90px;
/*     width: 360px; */
text-align: center;
  font-weight: 800;

}

#aboutMe h2 span {
    color: white;
    font-family: 'Alfa Slab One', serif;

}


#portrait-me {
    width: 500px;
    height: 500px;
    overflow: hidden;
    border-radius: 50%;
    background-color: #E8630A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px;

}

#portrait-me img {
    display: block;
    height: auto;
    width: 80%;
}

/********************************************************* About me CONTAINER 2 **/
#aboutMe-container2 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-bottom: 100px;
}
#aboutMe-article {
    width: 60%;
    padding:40px;
    background-color: transparent;
    margin-top: -120px;
}
#aboutMe-article p {
    font-size: 20px;
   color: white;
   font-weight: 400;
   text-align: center;
}
#castle {
    height: 200px;
    width: 40%;
    background-color: #FCD900;
}

/************************************************* About me CONTAINER 3 **/
#aboutMe-container3 {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#skills-headline {
    width: 360px;
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    text-align: left;
    font-size: 60px;
    color: #E8630A;
    margin-left: 100px;
}

#skills-headline span {
    font-family: 'Alfa Slab One', serif;
    font-weight: 200;
    color: white;
}


#skills-bar {
    background-color: #E8630A;
    width: 750px;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  clip-path: polygon(5% 0, 100% 0, 100% 20%, 100% 80%, 100% 100%, 5% 100%, 0% 80%, 0% 20%);

}

.skills {
    color:#001E6C;
    height: 100%;
    width: 25%;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
}

.skills h4 {
    font-weight: 200;
    font-size: 30px;
}
.skills svg {
    color:#001E6C;
    width: 40px;
    height: 40px;
    display: block;
    margin: 10px auto;
}








/************************************************* About me CONTAINER 4 **/
#aboutMe-container4 {
    width: 100%;
    height: 500px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: transparent;
}


#aboutMe-container4-CIRCLE-WRAP {
    filter: drop-shadow(0px 0px 18px rgba(0, 0, 0, 0.65));
    width: 400px;
    height: 400px;
    display: block;
    margin-right: 100px;

}

#aboutMe-container4-RECT {
    background-image: url(BACKGROUNDS/IMG_2280.jpg);
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
    border-radius: 50%;

}

#seeMy-bttns {
    width: 600px;
    height: 300px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;




    clip-path: polygon(0 0, 90% 0, 100% 20%, 100% 80%, 90% 100%, 0 100%, 0% 80%, 0% 20%);

}


#aboutMe-container4 button {
    background-color: #FCD900;
    cursor: pointer;
    color:#001E6C;
    font-family: 'Kanit', sans-serif;;
    font-size: 25px;
    font-weight: 700;
    width: 200px;
    height: 200px;
    border: none;
    clip-path: polygon(20% 0%, 80% 0%, 100% 20%, 100% 80%, 80% 100%, 20% 100%, 0% 80%, 0% 20%);


}
/* #SeeMyPortfolio {
    margin-right: 100px;
}
 */





/* ################## ABOUT ME  #####################*/



/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/
/* ################## CONTACT  #####################*/

#contact {
    background: url(BACKGROUNDS/bangkok.jpg);
    background-position: center;
    background-size: cover;
}


#contact-h2 {
    color: #E8630A;
    font-family: 'Alfa Slab One', serif;
        font-size: 90px;
    text-align: left;
    /* padding-left: 100px; */
      font-weight: 800;
      background-color: transparent;

}
#contact h2 span {
    color: white;
    font-family: 'Alfa Slab One', serif;
}


/***************************************** Contact me CONTAINER 1 */
#contact-container1 {
    width: 100%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#contact-links {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    left: 20px;
    bottom: 20px;
  /*   border: 2px solid brown; */
}

#contact-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color:#E8630A;
    height: 100px;
    width: 100px;
    /* border: 2px solid brown; */
}

#contact-links a svg {
    width: 80%;
    height: 80%;
}
#contact-links a svg:hover,#contact-links a svg:active {
    width: 100%;
    height: 100%;
    transition: all 0.3s ease-out;
}


/* ******************** Container2 ********** FORM */

#contact-container2 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    padding-bottom: 250px;
}


#contact-form {
    background-color: transparent;
    color: #E8630A;
    width: 1000px;
}


#contact-form h3 {
    color: white;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 50px;
    padding-right: 50px;
    text-align: center;
    font-size: 35px;
    font-weight: 400;
}

#form-blocks {
    display: flex;
  width: 100%;
    margin: 0 auto;
}
#form-block1  {
    width: 30%;
}
#form-block2 {
    width: 55%;
}
#form-block3 {
    width: 15%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.form-inputs {
    max-width: 90%;
    margin: 20px auto;
}

#contact-form input {
    border: none;
    padding-left: 20px;
}

#contact-form textarea {
    border: none;
    height: 130px;
    padding-left: 20px;
    padding-top: 20px;
    border-radius: 10px;
}

#name,#email {
    display: block;
    width: 100%;
    height: 40px;
    border-radius: 10px;
}
#contact-form label {
    display: block;
    padding-bottom: 5px;
    font-weight: bold;
}
#message {
    width: 100%;
}

 #submit {
    width: 100px;
    height: 100px;
    text-align: center;
    background-color: #FCD900;
    color:#001E6C;
    font-size: 20px; 
    font-weight: bold;
    box-shadow: none;
    cursor: pointer;
    outline: none;
    border: none;
    padding-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}

#submit:hover,#submit:active {
    width: 120px;
    height: 120px;
    transition: all 0.5s;
}






/* ################## CONTACT  #####################*/



/* ################## FOOTER  #####################*/
/* ################## FOOTER  #####################*/
/* ################## FOOTER  #####################*/
/* ################## FOOTER  #####################*/
/* ################## FOOTER  #####################*/
footer {
    width: 100%;
    height: 50px;
    display: flex;
    align-items: flex-end;
    justify-content: center;
    color: white;
    font-weight: 200;
    font-size: 12px;
    padding-bottom: 5px;
}

footer p span {
    font-family: Arial, Helvetica, sans-serif;
}
footer a {
    color:#FCD900;
}
.footer-items {
    padding-right: 20px;
}



.clearfix::after {
    content: "";
    clear: both;
    display: table;
  }


/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */
/* ###################### QUERIES ################# *//* ###################### QUERIES ################# */


/*QUERIES*************** about container 1 ************/
/*QUERIES*************** about container 1 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container1 {
        flex-direction: column;
        padding-top: 80px;
    }
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

@media only screen and (max-width: 730px) {
    #aboutMe h2 {
        font-size: 50px;
        padding-bottom: 30px;
    }
    #portrait-me {
        width: 350px;
        height: 350px;
    }
}

/*QUERIES*************** about container 2 ************/
/*QUERIES*************** about container 2 ************/
@media only screen and (max-width: 1040px) {
    #aboutMe-container2 {
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }
    #castle {
        width: 100%;
    }
    #aboutMe-article {
        width: 100%;
        margin-top: 0px;
    }
    #aboutMe-article p {
        font-size: 17px;
    }
}

/*QUERIES*************** about container 3 ************/
/*QUERIES*************** about container 3 ************/
@media only screen and (max-width: 1215px) {
    #skills-headline {
        margin-left: 10px;
        font-size: 50px;
    }
}
@media only screen and (max-width: 1040px) {
    #aboutMe-container3 {
        flex-direction: column;
        align-items: flex-end;
    }
    #skills-headline {
        text-align: center;
        width: 100%;
        margin-left: 0px;
    }
    #skills-headline span {
        font-family: 'Alfa Slab One', serif;
        font-weight: 200;
        color: white;
    }
}
@media only screen and (max-width: 840px) {
    #aboutMe-container3 {
        align-items: center;
    }
    #skills-bar {
        flex-direction: column;
        width: 70%;
        align-items: center;
        justify-content: flex-start;
        clip-path: polygon(10% 0, 90% 0, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0 95%, 0 5%);

    }
    
    .skills {
        width: 100%;
        height: 33.3%;
    }
    
}
@media only screen and (max-width: 730px) {
    #skills-bar {
        width: 80%;
        clip-path: polygon(10% 0, 90% 0, 100% 5%, 100% 95%, 90% 100%, 10% 100%, 0 95%, 0 5%);

    }
    #skills-headline {
        font-size: 40px;
        padding-bottom: 30px;
    }
   
}

/*QUERIES*************** contact ************/
@media only screen and (max-width: 1015px) {
    #contact-container1 {
        flex-direction: column;
    }
    
    #contact-links {
        width: 100%;
    }
    #form-block3 {
        width: 150px;
        flex-shrink: 0;
    }
}
@media only screen and (max-width: 730px) {
    #contact-container1 {
        height: 200px;
    }
    #contact-h2 {
        font-size: 50px;
        width: 100%;
        text-align: center;
    }
    #contact-links a {
        height: 60px;
        width: 60px;
    }
    #form-blocks {
        flex-direction: column;
      width: 90%;
    }
    #form-block1  {
        width: 100%;
    }
    #form-block2 {
        width: 100%;
    }
    #form-block3 {
        width: 100%;
        height: 150px;
    }
    #submit:hover,#submit:active {
        width: 100px;
        height: 100px;
        transition: none;
    }
    #contact-form h3 {
        font-size: 25px;
        padding-top: 50px;
    }
    #contact-links a svg:hover,#contact-links a svg:active {
        width: 80%;
        height: 80%;
        transition: none;
    }
}
