* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

/*  .getborder {
  border: 2px solid white; 
} */

/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
#navigation-button {
    background-color: white;
    color:#001E6C;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content:center ;
    position: absolute;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
}
#navigation-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#navigation-button:hover,#navigation-button:active {
    width: 90px;
    height: 90px;
    transition: all 0.5s ease-out allow-discrete;
}
@media only screen and (max-width: 810px) {
    #navigation-button {
        width: 50px;
        height: 50px;
    }
    #navigation-button:hover,#navigation-button:active {
        width: 50px;
        height: 50px;
        transition: none;
    }
}
/* ############################################################# */

main {
    background-color: #001E6C;
}

/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
h1 {
    position: absolute;
    top: 20px;
    left: 20px;
    color: #E8630A;
    font-family: 'Alfa Slab One', serif;
    font-size: 40px;
    text-align: left;
    font-weight: 400;
}
h1 span {
    color: white;
    font-family: 'Alfa Slab One', serif;
}
#catalogue {
    width: 100%;
    display: flex;
}

/********************************************************** catalogue CONTAINER 1 */
#catalogue-container1 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#selectProjectBox {
    margin-top: 130px;
}
#projects-filters {
    width: 100%;
    height: 60px;
}
#projects-filters p {
    height: 100%;
    width: 100%;
    text-align: center;
    font-size: 30px;
    color: white;
}
#projects-icons {
    width: 100%;
    height: 90%;
    display: grid;
    grid-template-rows: repeat(3, 120px);
    grid-template-columns: repeat(5, 120px);
    gap: 6px 6px;
}
#projects-icons button {
    background-color: red;
    outline: none;
    border: none;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    clip-path: polygon(15% 1%, 85% 0, 100% 15%, 100% 85%, 85% 100%, 15% 100%, 0 85%, 0 15%);

}
#projects-icons button img {
    width: 100%;
    height: auto;
}
#supalex-design {
    grid-area: 1/1/3/3;
}


/********************************************************* About me CONTAINER 2 **/
#catalogue-container2 {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}


#project-image {
   /*  margin-top: 20px; */
   /*  width: 450px; */
   width: 100%;
    height: 450px;
    overflow: hidden;
   /*  border-radius: 50%; */
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px;
}

#project-image img {
    display: block;
    height: auto;
    width: 100%;
}

#project-basic-info {
    width: 100%;
    font-size: 20px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    color:#001E6C;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #E8630A;
    font-size: 15px;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px;

}
#project-links {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: transparent;
    padding-top: 20px;
}
#project-links a {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #FCD900;
    text-decoration: none;
    font-size: 15px;
    width: 200px;
    height: 40px;
}
#project-links a:hover,#project-links a:active {
    font-size: 18px;
    transition: all 0.3s;
}
#project-description {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 20px;

}
#project-description p {
    width: 100%;
    height: 100%;
    color: white;
    font-weight: 200;
}




@media only screen and (max-width: 1355px) {
    #projects-icons {
        grid-template-rows: repeat(3, 80px);
        grid-template-columns: repeat(5, 80px);
        gap: 6px 6px;
    }
}
@media only screen and (max-width: 930px) {
    #catalogue {
        flex-direction: column;
    }
    #catalogue-container1 {
        width: 100%;
    }
    #catalogue-container2 {
        width: 100%;
    }
    #project-image {
        margin-top: 30px;
        width: 100%;
        height: 380px;
    }
    #project-basic-info div {
      justify-content: space-around;
    }
    #project-description p {
        width: 90%;
    }
}

@media only screen and (max-width: 520px) {
    #projects-icons {
        grid-template-rows: repeat(3, 60px);
        grid-template-columns: repeat(5, 60px);
        gap: 3px 3px;
    }
}