* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Kanit', sans-serif;
}

 .getborder {
  border: 2px solid white; 
}  

/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
/* ################ NAV BUTTON ################### */
#navigation-button {
    background-color: white;
    color:#001E6C;

    display: flex;
    align-items: center;
    justify-content:center ;
    position: absolute;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 60px;
    height: 60px;
    border: none;
    cursor: pointer;
    z-index: 1000;
    border-radius: 50%;
}
#navigation-button svg {
    width: 100%;
    height: 100%;
    cursor: pointer;
}
#navigation-button:hover,#navigation-button:active {
    width: 90px;
    height: 90px;
    transition: all 0.5s ease-out allow-discrete;
}
@media only screen and (max-width: 810px) {
    #navigation-button {
        top: 10px;
        right: 10px;
        width: 50px;
        height: 50px;
    }
    #navigation-button:hover,#navigation-button:active {
        width: 50px;
        height: 50px;
        transition: none;
    }
}
/* ############################################################# */

main {
    background-color: #001E6C;
}

/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
/* ################## CATALOGUE  #####################*/
h1 {
    color: #E8630A;
    font-family: 'Alfa Slab One', serif;
    font-size: 40px;
    text-align: left;
    font-weight: 400;
    padding-top: 20px;
    padding-left: 20px;
}
h1 span {
    color: white;
    font-family: 'Alfa Slab One', serif;
}
#catalogue {
    width: 100%;
}

/********************************************************** About me CONTAINER 1 */
#catalogue-container1 {
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;

}
#selectProject {
    width: 50%;
    height: 400px;
    background-color: yellowgreen;
}


#project-image {
    margin-right: 30px;
    width: 450px;
    height: 450px;
    overflow: hidden;
    border-radius: 50%;
    background-color:#E8630A;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: rgba(255, 255, 255, 0.36) 0px 22px 70px 4px;

}

#project-image img {
    display: block;
    height: auto;
    width: 70%;
}

/********************************************************* About me CONTAINER 2 **/
#catalogue-container2 {
    width: 100%;
    height: 250px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
#catalogue-container2 {
    display: flex;
    align-items: center;
}
#project-description {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}
#project-description p {
    width: 90%;
    height: 90%;
    color: white;
}